{% extends 'base.html.twig' %}

{% block title %}MY Tasks
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>My Tasks</h1>
		<table>
			<tr>
				<th>
					Task
				</th>
				<th>
					Protity
				</th>
				<th>
					hours
				</th>
				<th>
					Content
				</th>
				<th>
					Options
				</th>
			</tr>
			{% for task in tasks %}
				<tr>
					<td>
						{{ task.title }}
					</td>
					<td>
						{{ task.priority }}
					</td>
					<td>
						{{ task.time }}
					</td>
					<td>
						{{ task.content }}
					</td>
					<td class="td_btn">
						<a href="{{ path('delete',{'id':task.id}) }}" class="btn" style="background: red">
							Delete
						</a>
						<a href="{{ path('edit',{'id':task.id}) }}" class="btn" style="background: green">
							Edit
						</a>
						<a href="{{ path('detail',{'id':task.id}) }}" class="btn">
							Ver
						</a>

					</td>
				</tr>
			{% endfor %}
		</table>

	</div>
{% endblock %}
